# Criando estrutura de dados #

In [1]:
import pandas as pd

## Series ##

### Transformando estruturas padrão do python em series ###

#### Listas para Series ####

In [2]:
data = [1, 2, 3, 4, 5]

In [4]:
s = pd.Series(data)

In [5]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
index = ['Linha '+str(i) for i in range(5)]

In [13]:
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [14]:
s = pd.Series(data=data, index=index)

In [15]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

#### Dicionários para Series ####

In [17]:
data = {'Linha '+str(i) : i + 1 for i in range(5)}

In [18]:
data

{'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3, 'Linha 3': 4, 'Linha 4': 5}

In [19]:
s = pd.Series(data)

In [20]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

### Operações em Series ###

In [22]:
s1 = s+2 # Adiciona +2 em todos elementos da Series

In [23]:
s1

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

In [26]:
s2 = s+s1 # Soma entre Series, é possível até multiplicações entre series com mesmos indices

In [25]:
s2

Linha 0     4
Linha 1     6
Linha 2     8
Linha 3    10
Linha 4    12
dtype: int64

## Daframes ##

### Transformando estruturas padrão do python em series ###

#### Listas de listas para Dataframes ####